.unlock-app {
  margin-top: 3em;
  font-size: xx-large;
}


.welcome {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 2em;
  text-align: center;
  .title {
    font-size: 1.3em;
    font-weight: bolder;
  }
  .subtitle {
    color: #555;
  }
  img {
    border-radius: 50%;
    height: auto;
    max-width: 128px;
    padding: .25em;
  }
}
